<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Flask ChatGPT</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type='text/javascript'>

    function register(){
        username = document.getElementById("username").value;
        password = document.getElementById("password").value;
        data = {username:username, password:password};
        $.ajax({
            url: '/register',
            method: 'POST',
            data: data,
            success:function(response){
                if(response==1){
                    console.log('Registration Successful');
                }else{
                    console.log('Registration Unsuccessful');
                }
            }
        })
    }
</script>
</head>
<body>
     {% if message %}
      <div>{{ message }}</div> 
      {% endif %}
<div class="container">
    <h2>Flask ChatGPT</h2>
    <form method="post">
        <br>
        <div class="form-group">
            Username: <input type="username" class="form-control" id="username" name="username" placeholder="Enter Username">
        </div>
        <div class="form-group">
         Password: <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>  
        <button class="btn btn-primary" onclick="register()">Register</button>
    </form>
</div>

</body>
</html>